<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="orderEntry2App.order.home.createOrEditLabel">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.orderId" for="field_orderId">Order Id</label>
                    <input type="number" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.field1" for="field_field1">Field 1</label>
                    <input type="text" class="form-control" name="field1" id="field_field1"
                           formControlName="field1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.field2" for="field_field2">Field 2</label>
                    <input type="text" class="form-control" name="field2" id="field_field2"
                           formControlName="field2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.field3" for="field_field3">Field 3</label>
                    <input type="text" class="form-control" name="field3" id="field_field3"
                           formControlName="field3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.field4" for="field_field4">Field 4</label>
                    <input type="text" class="form-control" name="field4" id="field_field4"
                           formControlName="field4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.field5" for="field_field5">Field 5</label>
                    <input type="text" class="form-control" name="field5" id="field_field5"
                           formControlName="field5"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="orderEntry2App.order.instrument" for="field_instrument">Instrument</label>
                    <select class="form-control" id="field_instrument" name="instrument" formControlName="instrumentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="instrumentOption.id" *ngFor="let instrumentOption of instruments; trackBy: trackById">{{ instrumentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
