<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="accnt">
            <h2><span jhiTranslate="orderEntry2App.accnt.detail.title">Accnt</span> {{ accnt.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="orderEntry2App.accnt.accountId">Account Id</span></dt>
                <dd>
                    <span>{{ accnt.accountId }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.field1">Field 1</span></dt>
                <dd>
                    <span>{{ accnt.field1 }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.field2">Field 2</span></dt>
                <dd>
                    <span>{{ accnt.field2 }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.field3">Field 3</span></dt>
                <dd>
                    <span>{{ accnt.field3 }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.field4">Field 4</span></dt>
                <dd>
                    <span>{{ accnt.field4 }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.field5">Field 5</span></dt>
                <dd>
                    <span>{{ accnt.field5 }}</span>
                </dd>
                <dt><span jhiTranslate="orderEntry2App.accnt.order">Order</span></dt>
                <dd>
                    <div *ngIf="accnt.orderId">
                        <a [routerLink]="['/order', accnt.orderId, 'view']">{{ accnt.orderId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/accnt', accnt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
